.toplabel{
-fx-font-size: 24px;
-fx-font-weight: bold;
 }

 .table-view .column-header .label {
     -fx-text-fill: black;
     -fx-font-weight: bold;
 }

 .mycolumn {
  -fx-alignment: CENTER-RIGHT;
 }
